h1 {
    font-size: 4rem;
    color: white;
    text-align: center;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding-top:20px
}
h2{
    font-size: 1.5rem;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    font-weight: normal;
}
#tab{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
}
#tab button {
    padding: 15px 30px;
    font-size: 1.0rem;
}


body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed  ;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    margin:0 ;
    padding: 0;
    line-height: 1.6;
}
